
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row" style="margin-bottom: -100px">
			<div class="col-xs-8">
			</div>
			<div class="col-xs-4">
			</div>
		</div>
		<img src="/image/wood.png" class="img-responsive" style="margin-top: -75px;" />
		
		<div class="row" style="margin-top: 60px;">
		<div class="col-xs-9 col-xs-offset-3">
		
		<!-- Nav Tabs -->
		<ul class="nav nav-tabs">
		<li><a href="#tab-1" data-toggle="tab"><span style="color:red;">Create new Account</span></a></li>
		<li><a href="#tab-2" data-toggle="tab"><span style="color:red;">Log in</span></a></li>
		<li><a href="#tab-3" data-toggle="tab"><span style="color:red;">Forgot Password</span></a></li>
		</ul>
		</div>
		</div>
	</div>
	<!-- end of container -->


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>